*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
}
body{
    background: linear-gradient(135deg, #8AB9FF, #F5B3FF);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.toggle-bg{
    background: linear-gradient(135deg, #2c3e9e,#8a64eb);
    color: white;
}
.header{
    position: fixed;
    top: -0%;
    transform: translate(0%,0%);
    display: flex;
    justify-content: space-between;
    width: 85vw;
    padding: 1rem;
}

#title-container{
    height: auto;
}
.title{
    font-size: 3rem;
    cursor: pointer;
    font-weight: 500;
}

#current-folder{
    display: block;
    min-width: 20rem;
    line-height: 2rem;
    pointer-events: auto;
}
#search-and-btn{
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    align-items: center;
}
#search{
    outline: none;
    border: none;
    padding: 1rem;
    min-width: 15rem;
    border-radius: 10px;
    font-size: large;
    /* color: white;
    background: transparent; */
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
}
.new-folder{
    color: white;
    background: linear-gradient(135deg, #6E9BFF, #A66BFF);
    padding: 0.7rem 1rem;
    border-radius: 15px;
    outline: none;
    height: 3rem;
    border: none;
    font-size: large;
    transition: 0.3s ease;
}
.new-folder:hover, .mode:hover
{
    transform: scale(1.1);
}
.mode{
    outline: none;
    border: none;
    padding: 1rem;
    border-radius: 20px;
    background: linear-gradient(135deg, #2c3e9e,#8a64eb);
    color: white;
    font-size: large;
}

#container{
    margin-top: 6rem;
    margin-left: 18rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}
#side-Bar{
    position: fixed;
    top: 0%;
    left: 0%;
    transform: translate(0%,0%);
    height: 100vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 2px solid transparent;
}
.section{
    position: relative;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 2rem;
    border-radius: 10px;
    overflow-y: auto;
}
.section::-webkit-scrollbar{
    width: 1rem;
}
.section-titles{
    font-size: xx-large;
}
.nav-item{
    font-size: large;
    padding: 1rem;
    border-radius: 10px;
    transition: 0.3s ease;
}

.nav-item:hover{
    background: linear-gradient(135deg, #6E9BFF, #A66BFF);
    color: white;
    transform: translateX(1rem);
}

#display-area{
    max-height: 85vh;
    width: 85vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 2rem;
    padding: 1rem;
    overflow-y: auto;
}
#display-area::-webkit-scrollbar{
    width: 1rem;
}
#display-area::-webkit-scrollbar-thumb{
    background: linear-gradient(135deg, #A66BFF,#de93f5);
    border-radius: 20px;

}
#display-area div:focus{
    background: rgba(255, 255, 255, 0);
    border-color: rgb(148, 119, 255)
}

.file-card{
    width: 10rem;
    height: 10rem;
    background: rgba(255, 255, 255, 0.25);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    border-image: initial;
    transition: 0.3s ease;
    cursor: pointer;
}

.file-card:hover{
    transform: translateY(-6px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 25px;
}
.file-icon{
    font-size: 3rem;
}
.file-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: medium;
}

.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.301);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content{
    height: 15rem;
    width: 30rem;
    background: linear-gradient(215deg, #F5B3FF, #6E9BFF);
    color: black;
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hidden{
    display: none;
}
#create-name{
    height: 2rem;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 1rem; 
    margin-top: 1rem;
    color: white;
    font-size: medium;
    background-color: rgba(255, 255, 255, 0.288);
}
.check{
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.style-radio input{
    display: none;
}

.style-radio{
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid rgba(255, 255, 255, 0.253);
    cursor: pointer;
    border-radius: 4px;
    margin-right: 10px;
    width: 5rem;
    transition: 0.3s ease;
    text-align: center;
}

.style-radio:has(input:checked){
  background: linear-gradient(315deg, #6E9BFF, #A66BFF);
  color: white;
  transform: scale(1.1);
}

.cancel{
    background: #ffffff41;
}

#head{
    display: flex;
    justify-content: center;
    padding: 1rem;
    position: fixed;
    width: 100vw;
    top: 90%;
}
#head div{
    background-color: rgba(197, 197, 197, 0.349);
    border-radius: 10px;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 1rem 0 0;
    img{
        height: 2rem;
        width: 2rem;
    }
}

#head div:hover{
    background-color: rgba(180, 154, 253, 0.281);
}
#copied-box{
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-60%);
    background-color: rgba(155, 121, 250);
    color: white;
    outline: 2px solid rgb(136, 136, 136);
    border-radius: 20px;
    padding: 0.5rem;
    font-size: large;
    transition: all 1s ease;

    opacity: 0;
    visibility: hidden;
}

#copied-box.show{
    opacity: 1;
    visibility: visible;
    transform: translate(-50%,-50%);
}