*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
}

@property --c1 {
  syntax: '<color>';
  inherits: false;
  initial-value: #8AB9FF;
}

@property --c2 {
  syntax: '<color>';
  inherits: false;
  initial-value: #F5B3FF;
}
body{
    --c1:#8AB9FF;
    --c2:#F5B3FF;
    background: linear-gradient(135deg, var(--c1), var(--c2));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: end;
    transition: --c1 0.3s ease,--c2 0.3s ease;
}
.toogle-bg{
    --c1:#2c3e9e;
    --c2:#8a64eb;
    --m1:#8AB9FF;
    --m2:#F5B3FF;
    color: white;
}
.header{
    position: fixed;
    top: -0%;
    transform: translate(0%,0%);
    display: flex;
    justify-content: space-between;
    width: 85vw;
    padding: 1rem;
}

#title-container{
    height: auto;
}
.title{
    font-size: 3rem;
    cursor: pointer;
    font-weight: 500;
}

#current-folder{
    display: block;
    min-width: 20rem;
    line-height: 2rem;
    pointer-events: auto;
}
#search-and-btn{
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    align-items: center;
}
#search{
    outline: none;
    border: none;
    padding: 1rem;
    min-width: 15rem;
    border-radius: 10px;
    font-size: large;
    /* color: white;
    background: transparent; */
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
}
.new-folder{
    color: white;
    background: linear-gradient(135deg, #6E9BFF, #A66BFF);
    padding: 0.7rem 1rem;
    border-radius: 15px;
    outline: none;
    height: 3rem;
    border: none;
    font-size: large;
    transition: 0.3s ease;
}
.new-folder:hover, #mode:hover
{
    transform: scale(1.1);
}
@property --m1{
    syntax: "<color>";
    inherits: false;
    initial-value: #2c3e9e;
}
@property --m2{
    syntax: "<color>";
    inherits: false;
    initial-value: #8a64eb;
}

#mode{
    outline: none;
    border: none;
    padding: 1rem;
    border-radius: 20px;
    background: linear-gradient(135deg, var(--m1),var(--m2));
    color: white;
    font-size: large;
    transition: 0.3s ease;
}
#container{
    margin-top: 6rem;
    margin-left: 18rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}
#side-Bar{
    position: fixed;
    top: 0%;
    left: 0%;
    transform: translate(0%,0%);
    height: 100vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 2px solid transparent;
}
.section{
    position: relative;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 2rem;
    border-radius: 10px;
    overflow-y: auto;
}
.section::-webkit-scrollbar{
    width: 1rem;
}
.section-titles{
    font-size: xx-large;
}
.nav-item{
    font-size: large;
    padding: 1rem;
    border-radius: 10px;
    transition: 0.3s ease;
}

.nav-item:hover{
    background: linear-gradient(135deg, #6E9BFF, #A66BFF);
    color: white;
    transform: translateX(1rem);
}

#display-area{
    max-height: 85vh;
    width: 85vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 2rem;
    padding: 1rem;
    overflow-y: auto;
}
#display-area::-webkit-scrollbar{
    width: 1rem;
}
#display-area::-webkit-scrollbar-thumb{
    background: linear-gradient(135deg, #A66BFF,#de93f5);
    border-radius: 20px;

}
#display-area div:focus{
    background: rgba(255, 255, 255, 0);
    border-color: rgb(148, 119, 255)
}

.file-card{
    width: 10rem;
    height: 10rem;
    background: rgba(255, 255, 255, 0.25);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    border-image: initial;
    transition: 0.3s ease;
    cursor: pointer;
}

.file-card:hover{
    transform: translateY(-6px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 25px;
}
.file-icon{
    font-size: 3rem;
}
.file-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: medium;
}

.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.301);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-content{
    height: 15rem;
    width: 30rem;
    background: linear-gradient(215deg, #F5B3FF, #6E9BFF);
    color: black;
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
    .hidden{
        display: none;
    }
#create-name{
    height: 2rem;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 1rem; 
    margin-top: 1rem;
    color: white;
    font-size: medium;
    background-color: rgba(255, 255, 255, 0.288);
}
.check{
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.style-radio input{
    display: none;
}

.style-radio{
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid rgba(255, 255, 255, 0.253);
    cursor: pointer;
    border-radius: 4px;
    margin-right: 10px;
    width: 5rem;
    transition: 0.3s ease;
    text-align: center;
}

.style-radio:has(input:checked){
  background: linear-gradient(315deg, #6E9BFF, #A66BFF);
  color: white;
  transform: scale(1.1);
}

.cancel{
    background: #ffffff41;
}

#head{
    display: flex;
    justify-content: center;
    padding: 1rem;
    position: fixed;
    width: 100vw;
    top: 90%;
}
#head div{
    background-color: rgba(197, 197, 197, 0.349);
    border-radius: 10px;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 1rem 0 0;
    img{
        height: 2rem;
        width: 2rem;
    }
}

#head div:hover{
    background-color: rgba(180, 154, 253, 0.281);
}
#recent{
    position: fixed;
    left: 92vw;
    top: 92vh;
    z-index: 4;
}
#recent:hover{
    transform: none;
}
#popup-item{
    position: absolute;
    left: -64vw;
    top: -62vh;
    height: 60vh;
    width: 70vw;
    border-radius: 10px;
    background: linear-gradient(154deg, var(--c1),var(--c2));
    flex-direction: column;
}
/* the display flex was causing the problem, because id's overRides the class
thus, display:flex from the id was overRiding the (.hidden class) */
#popup-item:not(.hidden){
    display: flex;
}
#recent-header{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#recent-item{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
}
 #recent-item::-webkit-scrollbar{
    width: 1rem;
 }
#recent-item::-webkit-scrollbar-thumb{
    background: linear-gradient(135deg, #A66BFF,#de93f5);
    border-radius: 20px;
}
.recent-children{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: red;
    border-radius: 10px;
}
.recent-children:hover{
    background: rgb(46, 255, 92);
}
.path{
    font-size: 15px;
    text-align: center;
    overflow-x: hidden;
    border-top: 2px dotted pink;
    padding: 0.5rem;
}
.recent-grand-children{
    padding: 1rem;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    /* background: green; */
}
#copied-box{
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-60%);
    background-color: rgba(155, 121, 250);
    color: white;
    outline: 2px solid rgb(136, 136, 136);
    border-radius: 20px;
    padding: 0.5rem;
    font-size: large;
    transition: all 1s ease;

    opacity: 0;
    visibility: hidden;
}

#copied-box.show{
    opacity: 1;
    visibility: visible;
    transform: translate(-50%,-50%);
}

#sub{
    grid-column: 1/-1;
    width: 100%;
    height: 80vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@property --back{
    syntax: '<color>';
    inherits: false;
    initial-value: #a1a1aa;
}
.top{
    height: 1rem;
    width: 2rem;
    background: var(--back);
    position: relative;
    translate: -100% 100%;
    z-index: auto;
    border-radius: 10%;
}
.back{
    height: 4rem;
    width: 6rem;
    background: var(--back);
    position: relative;
    translate: 0% 17%;
    z-index: auto;
    border-radius: 10%;
}
.front{
    height: 4rem;
    width: 6.3rem;
    background: rgb(60, 255, 0);
    position: relative;
    translate: 0% -65%;
    z-index: 2;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    transform-origin: bottom center;
}
.front:hover{
    transform: rotateX(25deg);
}
#transp{
    height: 0.1rem;
    width: 2rem;
    background: var(--back);
}
.circle{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    position: relative;
    background: linear-gradient(245deg,rgb(172, 247, 218), rgb(192, 187, 255));
    top: -10%;
    left: 0%;
    color: transparent;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    box-shadow: 0 0 20px rgb(40, 241, 255);
    will-change: transform, opacity;
}
.animation{ 
    animation: rotate 5s linear forwards;
}
@keyframes rotate{
    0%{
        color: transparent;
        opacity: 1;
        transform: translateY(10rem);
        filter: drop-shadow(0 0 5px rgb(39, 204, 255));
    }
    20%{
        color: transparent;
        transform: rotate(20turn) translate(0);
        filter: drop-shadow(0 0 20px rgb(119, 0, 255));
    }
    40%{
        color: transparent;
        transform: rotate(200turn) scale(1.2);
        filter: drop-shadow(0 0 5px rgb(34, 255, 119));
    }
    60%{
        color: transparent;
        transform: rotate(400turn) scale(2.5);
        filter: drop-shadow(0 0 20px rgb(255, 232, 30));
    }
    80%{
        color: white;
        opacity: 0.5;
        transform: rotate(600turn) scale(20);
        font-size: medium;
    }
    100%{
        opacity: 0;
        transform: rotate(1turn);
        filter: drop-shadow(0 0 5px rgb(99, 245, 255));
    }
}
/* .circle:hover{
    transform: scale(1.2);
} */